In [27]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv(r"SportCarPrice.csv")

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    object
 4   Horsepower               1007 non-null   object
 5   Torque (lb-ft)           1004 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   object
 7   Price (in USD)           1007 non-null   object
dtypes: int64(1), object(7)
memory usage: 63.1+ KB

In [29]:
df.isnull().sum()

Car Make                    0
Car Model                   0
Year                        0
Engine Size (L)            10
Horsepower                  0
Torque (lb-ft)              3
0-60 MPH Time (seconds)     0
Price (in USD)              0
dtype: int64

In [30]:
df["Engine Size (L)"].unique()

array(['3', '5.2', '3.9', '4', '4.4', '6.2', '3.8', '8', '5', '3.5',
       '4.7', '2', '2.9', '6', 'Electric', '6.5', '3.7', 'Electric Motor',
       '2.5', '1.5 + Electric', '6.8', '8.4', nan, '6.6', '7', '1.7',
       '3.3', '-', '6.7', '1.8', 'Electric (tri-motor)', '5.5',
       'Electric (93 kWh)', 'Electric (100 kWh)', 'Hybrid (4.0)', '4.6',
       '3.6', '1.5', 'Hybrid', '5.7', '2.0 (Electric)', '4.0 (Hybrid)',
       '0', '6.4', '6.3', '2.3'], dtype=object)

In [31]:
df["Horsepower"]=df["Horsepower"].str.replace(",","")
df["Horsepower"]=df["Horsepower"].str.replace("+","")
df["Horsepower"]=df["Horsepower"].astype(int)

C:\Users\Hero\AppData\Local\Temp\ipykernel_15708\3202064288.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Horsepower"]=df["Horsepower"].str.replace("+","")

In [32]:
df["Torque (lb-ft)"]=df["Torque (lb-ft)"].replace("-",np.nan)
df["Torque (lb-ft)"]=df["Torque (lb-ft)"].str.replace(",","")
df["Torque (lb-ft)"]=df["Torque (lb-ft)"].str.replace("+","")

C:\Users\Hero\AppData\Local\Temp\ipykernel_15708\1727543719.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Torque (lb-ft)"]=df["Torque (lb-ft)"].str.replace("+","")

In [33]:
df["Price (in USD)"]=df["Price (in USD)"].str.replace(",","")
df["Price (in USD)"]=df["Price (in USD)"].astype(int)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    object
 4   Horsepower               1007 non-null   int32
 5   Torque (lb-ft)           1003 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   object
 7   Price (in USD)           1007 non-null   int32
dtypes: int32(2), int64(1), object(5)
memory usage: 55.2+ KB

In [35]:
df["0-60 MPH Time (seconds)"]=df["0-60 MPH Time (seconds)"].str.replace("<","")
df["0-60 MPH Time (seconds)"]=df["0-60 MPH Time (seconds)"].astype(float)

In [36]:
df["Engine Size (L)"].unique()

array(['3', '5.2', '3.9', '4', '4.4', '6.2', '3.8', '8', '5', '3.5',
       '4.7', '2', '2.9', '6', 'Electric', '6.5', '3.7', 'Electric Motor',
       '2.5', '1.5 + Electric', '6.8', '8.4', nan, '6.6', '7', '1.7',
       '3.3', '-', '6.7', '1.8', 'Electric (tri-motor)', '5.5',
       'Electric (93 kWh)', 'Electric (100 kWh)', 'Hybrid (4.0)', '4.6',
       '3.6', '1.5', 'Hybrid', '5.7', '2.0 (Electric)', '4.0 (Hybrid)',
       '0', '6.4', '6.3', '2.3'], dtype=object)

In [41]:
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Electric",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Electric Motor",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Electric (tri-motor)",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("1.5 + Electric",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Electric (93 kWh)",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Electric (100 kWh)",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("2.0 (Electric)",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("-",2)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Hybrid (4.0)",4)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("Hybrid",4)
df["Engine Size (L)"]=df["Engine Size (L)"].replace("4.0 (Hybrid)",4)

In [42]:
df["Engine Size (L)"]=df["Engine Size (L)"].astype(float)

In [43]:
df.isnull().sum()

Car Make                    0
Car Model                   0
Year                        0
Engine Size (L)            10
Horsepower                  0
Torque (lb-ft)              4
0-60 MPH Time (seconds)     0
Price (in USD)              0
dtype: int64

In [44]:
df["Horsepower"].unique()

array([  379,   630,   661,   562,   710,   617,   523,   490,   760,
         600,  1500,   717,   296,  1280,   471,   416,   454,   300,
         505,   320,   626,   671,   622,   720,  1914,   414,   759,
         986,   591,   503,   650,   660,   350,   641,   611,   394,
         612,   369,   603,   455,   460,   325,   349,   592,   444,
         405,   797,   770,   332,   473,   480,   573,   380,  1600,
         181,   620,   764,   624,  1000,   382,   800,   715,   690,
         730,   469,   365,   401,   645,   435,  1020,   500,   780,
         750,   402,   575,   729,   789,   577,   495,   237,   310,
         791,  1874,   542,   368,   616,  1479,   755,   288,  1888,
       10000,   482,  1973,  1262,  1035,   819,   385,   647,  1200,
        1578,   625,   583,   429,   563,   400,   707,   887,  1972,
         305,   640,   255,   689,   372,  2000,   550,   485,  1872,
         621])

In [45]:
df["Price (in USD)"].unique()

array([ 101200,  274390,  333750,  142700,  298000,  130000,  118500,
         59900,   81000,  212000,  201495, 3000000,   61000,   70100,
       2800000,   92950,  104450,  150000,   62000,   78000,   75000,
        225000,  248000,  155000, 2400000,  100200,  517770,  625000,
        117000,   72800,  222000,   64695,  500000,   45690,  104000,
        218000,   57000,  210000,  148500,  132000,   58900,  518000,
         56200,  192500,   71800,   68000,   42500,   39000,   46100,
        142100,  105000,   87200,   52500,  241000,  103500,  146000,
         75400,   42900,   78595,   62750,  417826,  150980,   30090,
         88700,   67600,  274280,   52915,  218009,  159495,  142086,
        219800,   74290,   71900,  134300,   26830,  213195,  221580,
        100550,  330000,  200000,   43090, 1700000,   60500,  522000,
         67000,  212500,   64000,   31015,  304995,  190000,  115000,
         59000,  102100,  220300,  114000,  239100,   62500,   65290,
        219750,  187700,  222004,   71350,   68900,  276550,   63700,
         44000,   51720,   45790,   88550,  222620,   84595,   77500,
        157500,  204100,  120000,   69900,  105950,  204550, 2700000,
        102900, 1000000,  131190,  123500, 3400000,   61500,  507000,
        109000,  228000,   42000,   45000,  185000,   56000,  191000,
         81250,  517700,  242500,   77000,   76000,  103200,  177700,
        417650,  115045,  256500,   59895,  152500,   69995,  363730,
        183300,   73795,  183000,   60995,  207000,  203825,   99800,
         67150,   77250,   71490,  150400,   47820,   38170,  102000,
        393695,  218750,   40590,   52720,  174300,   67895,   62290,
         93050,   75100,   64195,  211000,  275000, 2998000,  573966,
       3500000, 2500000,   70000,   61600,   52200,  100450,  102550,
         76400,   69000,  247500,   79900,  119000,  307820,  207825,
        202500,   63000,   96950,  358000,   30000, 2600000,  180000,
        131100,   82190,   76950,  132795,  215500,   80900,   40000,
        209000,   67500,  104200,  133050,  196350,  338000,  218400,
         73000,  104970,  132400,   71500,  118795,  240000,  221400,
         64100,   81550,   62250,   92000,  141190,   64995,  126190,
        205000,   75695, 2750000,  326050,  102500,   44500,   51000,
       2300000, 3600000,  215000,   36120,  220000,  280000,  208800,
        229000,   46200,   71000,  308000,   80500,  105900,  180800,
         94000,   70900,   76450,  198950,   77950,  314500,  214425,
        104400,  335550,  141990, 1550000,   65000,   63100,  140000,
        325000,   80190,   68745,  139990, 5200000, 1500000,  460247,
        110045,   77400,   46815,   85000,  162900,  245000,   74750,
         70595,  203500,   47190,  222630,  208000,   96250,   25000,
        103800,   48000,   93000,  346300, 3599000, 1050000,  186350,
        205600,  201000,  340000,  101000,   43000,  305000,  204995,
        243600,  113000,  161200,  310000, 1800000,  517000,  110000,
        300000,  100000,  135000,   62195,   28000,  147500,  250000,
         67800,  211300,  222500,   43995,  152995,  235000,  335000,
         50000,   49000,   98395,  168000,   64500,   46000,  147000,
        193000,  162000,   76700,   35000,  151000,   83250,   74700,
         77600,  181100,  329100,   46610,   74000,   63995, 2900000,
        201500,  332500,  198995,   72000,  254995,   60695,   64700,
         99990,  150800,   88800,   76350,  202000,   96000,   33000,
         75250,   99000,  149995,   37500,   38500,   71450,  134150,
        171200,  321000,  100500,  195000,   78100,   78450, 3900000,
       2000000,  254500,   27205])

In [47]:
df["Price (in USD)"]=df["Price (in USD)"].replace(",","")

In [48]:
df["Price (in USD)"]=df["Price (in USD)"].astype(int)

In [51]:
df["0-60 MPH Time (seconds)"].unique()

array([4.  , 2.8 , 3.  , 3.2 , 2.7 , 3.1 , 3.8 , 3.5 , 2.5 , 2.4 , 5.4 ,
       4.4 , 4.8 , 4.7 , 3.6 , 4.1 , 1.85, 4.5 , 3.3 , 3.9 , 4.2 , 3.4 ,
       5.1 , 4.3 , 2.9 , 5.  , 5.3 , 4.9 , 6.5 , 3.7 , 1.95, 1.9 , 1.98,
       2.6 , 2.3 , 4.6 , 1.8 , 2.1 , 5.2 , 2.2 , 6.4 , 2.  ])

In [50]:
df["0-60 MPH Time (seconds)"]= df["0-60 MPH Time (seconds)"].astype(float)

In [52]:
df.isnull().sum()

Car Make                    0
Car Model                   0
Year                        0
Engine Size (L)            10
Horsepower                  0
Torque (lb-ft)              4
0-60 MPH Time (seconds)     0
Price (in USD)              0
dtype: int64

In [53]:
df=df.dropna()

In [54]:
df.isnull().sum()

Car Make                   0
Car Model                  0
Year                       0
Engine Size (L)            0
Horsepower                 0
Torque (lb-ft)             0
0-60 MPH Time (seconds)    0
Price (in USD)             0
dtype: int64

In [55]:
df["Torque (lb-ft)"]=df["Torque (lb-ft)"].astype(int)

In [56]:
df.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3.0,379,331,4.0,101200
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,274390
2,Ferrari,488 GTB,2022,3.9,661,561,3.0,333750
3,Audi,R8,2022,5.2,562,406,3.2,142700
4,McLaren,720S,2021,4.0,710,568,2.7,298000

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 994 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 994 non-null    object
 1   Car Model                994 non-null    object
 2   Year                     994 non-null    int64
 3   Engine Size (L)          994 non-null    float64
 4   Horsepower               994 non-null    int32
 5   Torque (lb-ft)           994 non-null    int32
 6   0-60 MPH Time (seconds)  994 non-null    float64
 7   Price (in USD)           994 non-null    int32
dtypes: float64(2), int32(3), int64(1), object(2)
memory usage: 58.2+ KB

In [58]:
df=df.drop_duplicates()

In [59]:
df.shape

(702, 8)

In [60]:
df.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3.0,379,331,4.0,101200
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,274390
2,Ferrari,488 GTB,2022,3.9,661,561,3.0,333750
3,Audi,R8,2022,5.2,562,406,3.2,142700
4,McLaren,720S,2021,4.0,710,568,2.7,298000

In [61]:
##Q1) What is the price of most expensive car and which brand makes it ?
df["Price (in USD)"].max()

5200000

In [62]:
df=df.rename(columns={"Price (in USD)":"Price"})

In [63]:
df1=df.query("Price == Price.max()")

In [64]:
df1.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price
541,Bugatti,Chiron Super Sport 300+,2022,8.0,1578,1180,2.3,5200000
823,Bugatti,Chiron Super Sport 300+,2021,8.0,1578,1180,2.4,5200000

In [68]:
df20=df.query("`Car Make` == 'Bugatti'")

In [71]:
#2) Which brand gives the lowest power output from engine ?
df2=df.query("Horsepower==Horsepower.min()")

In [72]:
df2.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price
92,Mazda,MX-5 Miata,2021,2.0,181,151,6.5,26830

In [76]:
#3) Is Horsepower dependent on Torque ?
df.corr()

,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price
Year,1.000000,-0.162311,0.024114,0.029054,-0.008437,-0.046786
Engine Size (L),-0.162311,1.000000,0.064018,0.002926,-0.211754,0.245226
Horsepower,0.024114,0.064018,1.000000,0.709581,-0.533712,0.490672
Torque (lb-ft),0.029054,0.002926,0.709581,1.000000,-0.444860,0.335040
0-60 MPH Time (seconds),-0.008437,-0.211754,-0.533712,-0.444860,1.000000,-0.495575
Price,-0.046786,0.245226,0.490672,0.335040,-0.495575,1.000000

In [69]:
df20.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price
11,Bugatti,Chiron,2021,8.0,1500,1180,2.4,3000000
85,Bugatti,Chiron,2022,8.0,1500,1180,2.4,3000000
206,Bugatti,Chiron,2021,8.0,1500,1180,2.3,3000000
274,Bugatti,Chiron,2021,8.0,1500,1180,2.4,2998000
303,Bugatti,Chiron,2021,8.0,1479,1180,2.3,2998000

In [77]:
import scipy.stats as stats
corr, p_value=stats.pearsonr(df["Horsepower"],df["Torque (lb-ft)"])
print(corr,p_value)

0.7095810639663238 1.5766891317993526e-108

In [ ]:
#Here the correlation is 0.7095 and it is a strong +ve correlation.
#The pvalue < 0.05 (Correlation is statistically significant)
#There is a strong relationship between horsepower and Torque.
#reject the null hypothesis, (no correlation)

In [ ]:
#Q4) Is the mean price of sports cars that takes time to accelerate from 2 to 4 seconds
#is the same as that for those cars that accelerates for 4 to 6 seconds ?#

In [81]:
df3=df[(df["0-60 MPH Time (seconds)"]>=2) & (df["0-60 MPH Time (seconds)"]<=4)]

In [84]:
df3["Price"].sum()/df3.shape[0]

431432.376953125

In [86]:
#or
sample2_4=df3.sample(25,random_state=0)

In [83]:
df4=df[(df["0-60 MPH Time (seconds)"]>=4) & (df["0-60 MPH Time (seconds)"]<=6)]

In [85]:
df4["Price"].sum()/df4.shape[0]

89839.00523560209

In [87]:
#or
sample4_6=df4.sample(25,random_state=0)

In [ ]:
#null hypothesis= variance equal
#alternative hypothesis = not equal

In [88]:
print(sample2_4["Price"].var())

18352867907.273335

In [89]:
print(sample4_6.Price.var())

5289443343.75

In [79]:
df.head()

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price
0,Porsche,911,2022,3.0,379,331,4.0,101200
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,274390
2,Ferrari,488 GTB,2022,3.9,661,561,3.0,333750
3,Audi,R8,2022,5.2,562,406,3.2,142700
4,McLaren,720S,2021,4.0,710,568,2.7,298000

In [90]:
from scipy.stats import ttest_ind
t_stats,p_value=ttest_ind(sample2_4.Price,sample4_6.Price,equal_var=False)
print(t_stats,p_value)

2.1491284236992008 0.038275630486490235

In [ ]:
#pvalue is less than 0.05 so, we reject the null hypothesis.
# Mean price of sports cars who takes time to accelerate from 2 to 4 seconds
# is not the same as that for those cars for who accelerate for 4 to 6 seconds

In [93]:
#5) Given that the standard deviation of the populations is known. 
# Perform the best suitable test for previous problem statement

import random
from statsmodels.stats.weightstats import ztest
car2_4=df[(df["0-60 MPH Time (seconds)"]>=2) & (df["0-60 MPH Time (seconds)"]<=4)]
car4_6=df[(df["0-60 MPH Time (seconds)"]>=4) & (df["0-60 MPH Time (seconds)"]<=6)]
car2_4=car2_4["Price"].to_list()
car4_6=car4_6["Price"].to_list()
z_test,p_value=ztest(car2_4,car4_6)
print(p_value)

9.376528732023247e-09

In [ ]:
# p - value is less than 0.05 reject null hypothesis. mean price are not equal